body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A7F3D0;
}

.sketch-border{
  background-color: #e41313;
  height: 600px;
  width: 800px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 24px;
  box-shadow: 2px 3px 12px rgba(0,0,0,0.3);
}

h1{
  margin: 0;
  color: #fcc947;
}

.sketch-pad{
  background-color: #F3F4F6;
  height: 86%;
  width: 86%;
  border-radius: 3px;
}