body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1fae5;
}

h1 {
  font-family: "Eagle Lake", cursive;
  margin: 0;
  color: #fcc947;
}

.sketch-border {
  background-color: #e41313;
  height: 600px;
  width: 600px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 24px;
  box-shadow: 2px 3px 22px rgba(0, 0, 0, 0.5);
}

.sketch-pad {
  background-color: #e5e7eb;
  height: 86%;
  width: 86%;
  border-radius: 6px;
  display: grid;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.buttons {
  display: flex;
  gap: 3em;
}

.size-buttons {
  display: flex;
  gap: 0.5em;
}

.color-buttons {
  display: flex;
  gap: 0.5em;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fef3c7;
  color: #991b1b;
  font-size: 14px;
  padding: 0.4em;
  font-family: "Fira Sans Condensed", sans-serif;
}

.selected {
  background-color: #fde68a;
  color: #7f1d1d;
}
